body {
  font-family: sans-serif;
}

.glide {
  display: flex;
  align-items: center;
}

.glide__track {
  flex: 1;
}

.glide__slide {
  text-align: center;
  height: 250px;
  line-height: 200px;
  color: #fff;
  background: white;
  font-size: 1em;
  font-weight: 900;
}

.glide__arrows {
  padding: 5px;
}

.glide__arrow {
  position: relative;
  top: 0;
  margin: 0;
  transform: none;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: grey;
  color: black;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.glide__arrow:hover {
  background-color: #ed145b;
}

.right {
  float: right;
  margin-right: 5%;
  margin-bottom: 1%;
}

.left {
  float: left;
  margin-left: 5%;
  margin-bottom: 1%;
}

.titleText {
  font-size: 2rem;
  font-weight: bold;
}
